<div>
  ファイルをS3にアップロードします

  <div style="width: 500px">
    <form enctype="multipart/form-data" method="post">
      <input type="file" name="userfile" id="userfile" class="form-group">
    </form>
  </div>
</div>
<div id="message"></div>
<div id="save_form">
  S3にアップロードしたファイルのオブジェクトURLをDBに保存します
  <%= form_for @file do |f| %>
    <div class="form-group">
      <%= f.label :path, "パス" %>
      <%= f.text_field :path, id: :file_path, size: 100, disabled: true %>
    </div>
    <div class="actions">
      <%= f.submit "保存", id: :save_submit, disabled: true %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag 'electronic_files/new.js' %>